{
  "extends": "airbnb",
  "rules": {
    "arrow-body-style": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "function-paren-newline": 0,
    "react/prop-types": 0
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
